<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/dashboard/dashboard.css" media="all" />
</head>
<body>
<% include ../partials/header %>
<div class="backch">
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-6">
                <h1><span class="glyphicon glyphicon-cog"></span> Admin</h1>
            </div>
        </div>
        </div>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/admin/groups">
                        <span class="glyphicon glyphicon-th-large"></span> Groups
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/admin/competition">
                        <span class="glyphicon glyphicon-flag"></span> Competitions
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/admin/users">
                        <span class="glyphicon glyphicon-user"></span> Users
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/admin/problems">
                        <span class="glyphicon glyphicon-pencil"></span> Problems
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/clar/admin/all">
                        <span class="glyphicon glyphicon-send"></span> Clar to All
                    </a>
                </div>
                <!-- <%= typeof(isroot) %> -->
                <%if(locals.isroot){%>
                <div class="col-md-12 advbtn">
                    <button class="btn btn-info btn-lg btn-block">
                        <span class="glyphicon glyphicon-cog"></span> Advanced
                    </button>
                </div>
                <!-- <div class="col-md-6 adv">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/ranking/">
                        <span class="glyphicon glyphicon-stats"></span> Ranking
                    </a>
                </div> -->
                <div class="col-md-6 adv">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/admin/competition/puzzles/log">
                        <span class="glyphicon glyphicon-list-alt"></span> Log
                    </a>
                </div>
                <div class="col-md-6 adv">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/admin/mailTemplates/">
                        <span class="glyphicon glyphicon-envelope"></span> Mail Center
                    </a>
                </div>
                <div class="col-md-6 adv">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/admin/setStartTime">
                        <span class="glyphicon glyphicon-time"></span> Set Start Time
                    </a>
                </div>
                <%}%>
            </div>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %>
<script>
    var d = 300;
    $(document).ready(function(){
        $(".adv").each(function(i, el){
            $(el).addClass('hide');
        });
        $(".advbtn button").click(function() {
            $(this).css("opacity", 1);
            $(this).css("height", $(this).outerHeight());
            $(".adv").removeClass('hide');
            $(".adv").css("opacity", 0);
            var h = $(".adv").outerHeight();
            $(".adv").css("height", 0);
            $(this).animate({opacity: 0, height: 0}, d, function(){
                $(this).css("display", "none");
            });
            $(".adv").animate({opacity: 1, height: h}, d, function(){
                $(this).css("height", "");
            });
        });
    });
</script>
</body>
</html>