<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/dashboard/dashboard.css" media="all" />
</head>
<body>
<% include ../partials/header %>
<div class="backch">
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-6">
                <h1><span class="glyphicon glyphicon-cog"></span> Admin</h1>
            </div>
        </div>
        </div>
</div>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/admin/groups">
                        <span class="glyphicon glyphicon-th-large"></span> Groups
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/admin/competition">
                        <span class="glyphicon glyphicon-flag"></span> Competitions
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/admin/users">
                        <span class="glyphicon glyphicon-user"></span> Users
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/admin/problems">
                        <span class="glyphicon glyphicon-pencil"></span> Problems
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/ranking/">
                        <span class="glyphicon glyphicon-stats"></span> Ranking
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/admin/mailTemplates/">
                        <span class="glyphicon glyphicon-envelope"></span> Mail Center
                    </a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-primary btn-lg btn-block" href="<%=baseURL%>/admin/setStartTime">
                        <span class="glyphicon glyphicon-time"></span> Set Start Time
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %>
</body>
</html>