<nav class="navbar navbar-default  navbar-fixed-top" style="margin-bottom: 0;" dir="rtl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://acm.ut.ac.ir/" target="_blank">
                <img alt="ACM" src="<%=baseURL%>/img/logo.png" width="30px" height="30px">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                    <li><a  class="btn-group-sm btn-default navbar-btn" href="<%=baseURL%>/back"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></li>
                    <li><a  class="btn-group-sm btn-default navbar-btn" href="<%=baseURL%>/about/"><span class="glyphicon glyphicon-info-sign"></span> درباره</a></li>
                    <li><a class="btn-group-sm btn-default navbar-btn" href="<%=baseURL%>/ranking/"><span class="glyphicon glyphicon-stats"></span> رده‌بندی</a></li>
                <% if(!currentUser){ %>
                    <li><a class="btn-group-sm btn-default navbar-btn" href="<%=baseURL%>/register"><span class="glyphicon glyphicon-plus-sign"></span> ثبت‌نام</a></li>
                    <li><a class="btn-group-sm btn-default navbar-btn" href="<%=baseURL%>/login"><span class="glyphicon glyphicon-ok-sign"></span> ورود</a></li>
                    <li><a class="btn-group-sm btn-default navbar-btn" href="<%=baseURL%>/"><span class="glyphicon glyphicon-home"></span></a></li>
                <% } else { %>
                    <li><a href="<%=baseURL%>/clar/<%if(currentUser.isAdmin){%>admin<%}%>"><span class="glyphicon glyphicon-envelope"></span> ارتباطات</a></li>
                    <li><a href="<%=baseURL%>/logout"><span class="glyphicon glyphicon-off"></span> خروج</a></li>
                    <%if(currentUser.group){%>
                        <li><a href="javascript: void();" style="cursor: default;"><span class="glyphicon glyphicon-usd"></span> <%= currentUser.group.credit%></a></li>
                        <li><a href="javascript: void();" style="cursor: default;"><span class="glyphicon glyphicon-flash"></span> <%= currentUser.group.score%></a></li>
                        <li><a href="javascript: void();" style="cursor: default;"><span class="glyphicon glyphicon-th-large"></span> <%= currentUser.group.name%></a></li>
                    <%}%>
                    <li><a href="<%=baseURL%>/<%if(!currentUser.isAdmin){%>dashboard<%}else{%>admin<%}%>/"><span class="glyphicon glyphicon-home"></span> <%if(!currentUser.isAdmin){%><%=currentUser.firstname %><%}else{%><%=currentUser.username %><%}%></a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
<script>
    <% if(error && error.length > 0) { %> swal({text: "<%= error %>", type: "error", customClass: "<%if(!currentUser || !currentUser.isAdmin){%>rtl<%}%>"});<% } %>
    <% if(success && success.length > 0) { %> swal({text: "<%= success %>", type: "success", customClass: "<%if(!currentUser || !currentUser.isAdmin){%>rtl<%}%>"});<% } %>
</script>
