<nav class="navbar navbar-inverse  navbar-fixed-top" style="margin-bottom: 0;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="/firstpage/img/logo.png" width="30px" height="30px">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li><a class="btn-group-sm btn-default navbar-btn" href="/login">ورود</a></li>
                    <li><a class="btn-group-sm btn-default navbar-btn" href="/register">ثبت نام</a></li>
                    <li><a class="btn-group-sm btn-default navbar-btn" href="/">خانه</a></li>
                <% } else { %>
                    <%if(currentUser.group){%>
                        <li><a href="#"><%= currentUser.group.name%></a></li>
                        <li><a href="/dashboard"><%=currentUser.group.credit%>اعتبار : </a></li>
                    <%}%>
                    <li><a href="/dashboard"><%=currentUser.username %>خانه </a></li>
                    <li><a href="/logout">خروج</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
   <% if(error && error.length > 0) { %>
     <div class="alert alert-danger"><p><%=error %></p></div>
   <% } %>
   
   <% if(success && success.length > 0) { %>
     <div class="alert alert-success"><p><%= success %></p></div>
   <% } %>
</div>