<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="DM Contest">
<meta name="keywords" content="Discrete Mathematics, Contest">
<link rel="icon" type="image/png" href="<%=baseURL%>/img/logo.png" />
<link rel="stylesheet" type="text/css" href="<%=baseURL%>/bootstrap/bootstrap.min.css" media="all" />
<script src="<%=baseURL%>/jquery/jquery-1.12.4.min.js"></script>
<link rel="stylesheet" type="text/css" href="<%=baseURL%>/stylesheets/main.css" media="all" />
<script type="text/javascript" src="<%=baseURL%>/scripts/msgbox.js"></script>
<script type="text/javascript" src="<%=baseURL%>/scripts/scripts.js"></script>
<link rel="stylesheet" type="text/css" href="<%=baseURL%>/stylesheets/msgbox.css" />
<link rel="stylesheet" type="text/css" href="<%=baseURL%>/sweetalert/sweetalert2.min.css"></li>
<script src="<%=baseURL%>/sweetalert/sweetalert2.min.js"></script>