<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../../partials/head %>
    <!-- ===============    dashboard core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/problem-view/problemcss.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
<div class="row problemname">
    <div class="container">
        <div class="col-md-6"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3 pname">
            <h1><%=puzzle.name%></h1>
        </div>
    </div>
</div>
<div class="row problembody">
    <div class="container">
        <div class="col-md-3 submitpart">
            <a style="text-decoration: none;" href="/dashboard/puzzles/<%=puzzle._id%>/hint" >
                <button class="btn btn-default btn-lg btn-block btn-success" style="margin-bottom:25px; ">Accept</button></a>
            <a href="/dashboard/" style="text-decoration: none;" href="/dashboard/puzzles/<%=puzzle._id%>/hint" >
                <button class="btn btn-default btn-lg btn-block btn-danger" >Reject</button></a>
        </div>
        <div class="col-md-9 prbody">
            <%if(puzzle.solved){%>
            <p><%= puzzle.feedback%></p>
            <%}else{%>
            <p><%= puzzle.problem.description %></p>
            <%}%>
        </div>
    </div>
</div>
</body>
</html>