<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="/admin/problemdetail.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
    <div class="container probbd">
        <div class="col-md-3 "><div class="tag">
            <a href="/admin/competition/puzzles/<%=puzzle._id%>/accept" >
                <button class="btn btn-lg btn-block btn-success">Accept</button>
            </a>
            <a href="/admin/competition/puzzles/<%=puzzle._id%>/reject" >
                <button class="btn btn-lg btn-block btn-danger">Reject</button>
            </a>
            <a href="/admin/competition/" >
                <button class="btn btn-lg btn-block btn-primary">Back</button>
            </a>
        </div></div>
        <div class="col-md-9 "><div class="pbd">
            <h1><%=puzzle.name%></h1>
            <h4>Group: <%=puzzle.group.name%></h4>
            <hr>
            <%=puzzle.filePath%>
        </div></div>
    </div>
<% include ../../partials/footer %>
</body>
</html>