<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/admin/problemdetail.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
    <div class="container probbd">
        <div class="col-md-3 "><div class="tag">
            <a href="<%=baseURL%>/admin/competition/puzzles/<%=puzzle._id%>/accept" >
                <button class="btn btn-lg btn-block btn-success btn-verify">Accept</button>
            </a>
            <a href="<%=baseURL%>/admin/competition/puzzles/<%=puzzle._id%>/reject" >
                <button class="btn btn-lg btn-block btn-danger btn-verify">Reject</button>
            </a>
            <a href="<%=baseURL%>/admin/competition/" >
                <button class="btn btn-lg btn-block btn-primary">Back</button>
            </a>
        </div></div>
        <div class="col-md-9 "><div class="pbd">
            <h2><%=puzzle.name%></h2>
            <h3>Group</h3><h4>&nbsp;<%=puzzle.group.name%></h4>
            <hr>
            <%switch(puzzle.filePath.substr(puzzle.filePath.lastIndexOf("\.") + 1)){
                    case "jpg": case "JPG": case "jpeg": case "JPEG": case "png": case "PNG": case "tiff": case "TIFF":%>
            <img src="<%=baseURL%>/<%=puzzle.filePath%>" class="upedpic">
            <%break;
            case "pdf": case "PDF":%>
            <object data="<%=baseURL%>/<%=puzzle.filePath%>" class="upedpic">
                <p dir="rtl">اه! مروروگر شما نمی‌تواند فایل‌های pdf نهفته را باز کند. فایل را از <a href="<%=baseURL%>/<%=puzzle.filePath%>" target="_blank">این جا</a> بارگیری کنید.</p>
            </object>
            <%}%>
            <%if(false){%><a class="btn btn-default" href="<%=baseURL%>/<%=puzzle.filePath%>" target="_blank"><%=puzzle.filePath.substr(puzzle.filePath.lastIndexOf("<%=baseURL%>/") + 1)%></a><%}%>
        </div></div>
    </div>
    <% include ../../partials/footer %>
    <script src=""></script>
    <script>
        $(document).ready(function(){
            $(".btn-verify").click(function(event){
                event.preventDefault();
                var el = this;
                swal({
                  title: 'Are you sure?',
                  text: "You won't be able to revert this!",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, ' + $(el).text() + "!"
                }).then(function () {
                  swal(
                    $(el).text() + 'ed!',
                    'Problem has been ' + $(el).text() + 'ed.',
                    $(el).text() == "Accept" ? 'success' : 'error'
                  ).then(function(){
                    window.location.href = $(el).parent("a").attr('href');
                  });
                });
            });
        });
    </script>
    <script src="<%=baseURL%>/scripts/setheight.js"></script>
</body>
</html>