<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="<%=baseURL%>/intro.js/introjs.css">
    <link rel="stylesheet" href="<%=baseURL%>/intro.js/introjs-rtl.css">
    <link rel="stylesheet" href="<%=baseURL%>/intro.js/themes/introjs-modern.css">
    <link rel="stylesheet" href="<%=baseURL%>/intro.js/themes/introjs-modern.css">
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/dashboard/dashboard.css" media="all" />
    <link rel="stylesheet" href="<%=baseURL%>/flipclock/flipclock.css">
</head>
<body>
<% include ../partials/header %>
<%
    var statusTitle = {
        accepted: "حل‌شده",
        rejected: "ردشده",
        submitted: "ثبت‌شده",
        sold: "خریده‌شده",
        buy: "آمادهٔ خرید",
        head: "وضعیت"
    };
%>
<div class="backch">
    <div class="jumbotron">
        <div class="container">
            <div class="row" >
                <div class="col-md-4 text-left" >
                    <h1><span class="glyphicon glyphicon-pencil"></span> معماها</h1>
                </div>

                <div data-intro="حواستان به زمان باشد!" data-step="5" class="col-md-8" style="text-align: center;"><%if(user.group){%><div style="display: inline-block;"><div class="clock"></div></div><%}%></div>
                <!-- <div class="col-md-2" style="text-align: right;padding-top: 10px;"> -->
                    <!-- <button type="button" class="btn btn-primary btn-lg btn-block btncolor <% if(!user.group){ %> disabled <%}%>" style="cursor: default;">
                        <% if(user.group){ %>
                            <%= user.group.name%>
                        <% } else { %><small dir="rtl">شما گروهی ندارید.</small> <% } %>
                    </button> -->
                    <!-- <a style="text-decoration: none;" href="<%=baseURL%>/dashboard/ranking"><button  type="button" class="btn btn-info btn-lg btn-block">امتیاز گروه ها</button></a> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="problem-cont" id="puzzles_list">
        <input class="search" placeholder="&#xe003;" data-step="4" data-intro="از اینجا می‌توانید دسته‌بندی، نام‌سوال،وضعیت و .. را جستجو کنید" type="text" />
        <ul class="taglist">
            <span class="glyphicon glyphicon-tags" style="transform:rotateY(180deg);" ></span>
            <li class="tagsearchgp" ><ul >
                <li><button class="btn btn-info btn-xs alltagsearchbtn" >همه</button></li>
            </ul></li>
            <% if(superTags){superTags.forEach(function(superTag){ %>
            <li class="tagsearchgp"><ul>
                <span class="supertagsearchgp"><%= superTag.title%></span>
                <% superTag.tags.forEach(function(tag){ %>
                <li><button class="btn btn-primary btn-xs tagsearchbtn"><%= tag%></button></li>
                <%});%>
            </ul></li>
            <%});}%>
            <li class="tagsearchgp" data-intro="وضعیت" data-step="1"><ul>
                <span class="supertagsearchgp"><%= statusTitle.head%></span>
                <li><button class="btn btn-success btn-xs tagsearchbtn"><%= statusTitle.accepted%></button></li>
                <li><button class="btn btn-danger btn-xs tagsearchbtn"><%= statusTitle.rejected%></button></li>
                <li><button class="btn btn-warning btn-xs tagsearchbtn"><%= statusTitle.submitted%></button></li>
                <li><button class="btn btn-info btn-xs tagsearchbtn"><%= statusTitle.sold%></button></li>
                <li><button class="btn btn-primary btn-xs tagsearchbtn"><%= statusTitle.buy%></button></li>
            </ul></li>
        </ul>
        <ul class="list row" style="list-style-type: none;">
        <% if(puzzles){puzzles.forEach(function(puzzle,index){ %>
            <%if(puzzle.problem){%>
            <li>
            <div class="col-md-3 col-sm-6 col-md-12" data-intro="Questions"  data-step="2" data-position="right">
                <div id="puzzle<%=puzzle.id%>" class="eachproblem <%if(puzzle.accepted){%>prb-accepted<%}else if(puzzle.rejected){%>prb-rejected<%}else if(puzzle.submitted){%>prb-submitted<%}else if(puzzle.sold) {%>prb-sold<%}else  {%>prb-buy<%}%>">
                <div class="problembod">
                    <div class="caption topproblem">
                        <h1 class="problemname"><%= puzzle.name %></h1>
                    </div>
                    <p class="puzzlestatus" hidden><%=puzzle.status%></p>
                    <p class="puzzleid" hidden><%=puzzle._id%></p>
                    <div><i class="glyphicon glyphicon-usd" style="vertical-align: middle;"></i> <%=puzzle.cost%> &nbsp; &nbsp; <i class="glyphicon glyphicon-flash" style="vertical-align: middle;"></i> <%=puzzle.problem.score%></div>
                    <div class="tags">
                    <%puzzle.problem.tags.forEach(function (tag) {%>
                        <div class="tag"><i class="glyphicon glyphicon-tag" style="transform:rotateY(180deg); vertical-align: middle;"></i> <%=tag%></div>
                    <%})%>
                        <div class="tag" style="display: none;"><i class="glyphicon glyphicon-dashboard" style="transform:rotateY(180deg); vertical-align: middle;"></i>
                        <%if(puzzle.accepted){%>
                        <%= statusTitle.accepted%>
                        <%}else if(puzzle.rejected){%>
                        <%= statusTitle.rejected%>
                        <%}else if(puzzle.submitted){%>
                        <%= statusTitle.submitted%>
                        <%}else if(puzzle.sold) {%>
                        <%= statusTitle.sold%>
                        <%}else  {%>
                        <%= statusTitle.buy%>
                        <%}%>
                        </div>
                    </div>
                <p >
                    <%if(puzzle.accepted){%>
                        <a href="<%=baseURL%>/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-success mainbtn"><%= statusTitle.accepted%></a>
                    <%}else if(puzzle.rejected){%>
                        <a href="<%=baseURL%>/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-danger mainbtn"><%= statusTitle.rejected%></a>
                    <%}else if(puzzle.submitted){%>
                        <a id="puzzleButton<%=puzzle._id%>" href="<%=baseURL%>/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-warning mainbtn"><%= statusTitle.submitted%></a>
                    <%}else if(puzzle.sold) {%>
                        <a href="<%=baseURL%>/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-info mainbtn">مشاهده</a>
                    <%}else  {%>
                        <a href="<%=baseURL%>/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-primary mainbtn btn-verify">خرید</a>
                    <%}%>
                </p>
                </div>
                </div>
            </div>
            </li>
            <%}%>
        <% });} %>
        </ul>
    </div>
</div>
<% include ../partials/footer %>
<script src="<%=baseURL%>/listjs/list.min.js"></script>
<script src="<%=baseURL%>/scripts/problist.js"></script>
<script src="<%=baseURL%>/flipclock/flipclock.min.js"></script>
<script src="<%=baseURL%>/intro.js/intro.js"></script>
<script>

    var b = "<%=remainingTime%>";
    var clock = $('.clock').FlipClock((b)/1000, {
        clockFace: 'DailyCounter',
        showSeconds: false,
        countdown: true
    });
</script>
<script src="<%=baseURL%>/push.js/push.js"></script>
<script>
    var puzzleList = new List('puzzles_list', {
        valueNames: ['problemname','puzzlestatus','puzzleid'],
    });
    var listItems = puzzleList.items;
    var puzzles = [];
    listItems.forEach(function (item) {
        puzzles.push({
            status:item._values.puzzlestatus,
            id:item._values.puzzleid,
            name:item._values.problemname
        })
    })
    $(document).ready(function(){
        function doPoll(puzzle){
                    if(puzzle.status == "submitted") {
                        $.get('/puzzles/' + puzzle.id + '/status', function (data) {
                            if(data.status == "accepted")
                            {
                                if(!puzzle.seen) {
                                    Push.create("Accepted", {
                                        body: puzzle.name + " was accepted",
                                        icon: 'icon.png',
                                        timeout:10000,
                                        onClick: function () {
                                            window.focus();
                                            this.close();
                                        }
                                    });
                                    $( "#puzzle"+puzzle.id).removeClass("prb-submitted");
                                    $( "#puzzle"+puzzle.id).addClass("prb-accepted");
                                    $( "#puzzleButton"+puzzle.id).removeClass("btn-warning");
                                    $( "#puzzleButton"+puzzle.id).addClass("btn-success");
                                    puzzle.seen = true;
                                }
                            }
                            else if(data.status == "rejected")
                            {
                                if(!puzzle.seen) {
                                    Push.create("Rejected", {
                                        body: puzzle.name + " was rejected",
                                        icon: 'icon.png',
                                        timeout:10000,
                                        onClick: function () {
                                            window.focus();
                                            this.close();
                                        }
                                    });
                                    $( "#puzzle"+puzzle.id).removeClass("prb-submitted");
                                    $( "#puzzle"+puzzle.id).addClass("prb-rejected");
                                    $( "#puzzleButton"+puzzle.id).removeClass("btn-warning");
                                    $( "#puzzleButton"+puzzle.id).addClass("btn-danger");
                                    puzzle.seen = true;
                                }
                            }
                        });
                    }
            setTimeout(function () {
                doPoll(puzzle)
            },10000);
        }
        puzzles.forEach(function (puzzle) {
            puzzle.seen = false;
            doPoll(puzzle);
        })

        doPoll();
        $(".btn-verify").click(function(event){
            event.preventDefault();
            var el = this;
            swal({
              text: 'می‌خواهید سؤال را بخرید؟',
              type: 'info',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              cancelButtonText: 'خیر',
              confirmButtonText: 'بله',
              customClass: "rtl"
            })
              .then(function(){
                window.location.href = $(el).attr('href');
              });
        });
    });
</script>
</body>
</html>
