<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Responsive Coming soon Template">
    <meta name="keywords" content="Coming soon template, Bootstrap template, Coming soon, Responsive coming soon Template, Under Construction, countdown , Mailchimp, Youtube Video">
    <meta name="author" content="traivan98">

    <title>شکار معما</title>

    <!-- favicon linke -->
    <link rel="icon" type="image/png" href="/firstpage/img/favicon.png" />
    <!-- ===============    Bootstrap core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css" media="all" />
</head>
<body>

<% include ../partials/header %>

<header class="jumbotron">
    <div class="container">
        <h1><span class="glyphicon glyphicon-tent"></span>Puzzles!</h1>
    </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <%if(metaPuzzle){%>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <div class="caption">
                Metapuzzle :
                <h4><%= metaPuzzle.name %></h4>
            </div>
            <p>
                <%if(metaPuzzle.solved){%>
                <a href="/dashboard/puzzles/<%= metaPuzzle._id %>" class="btn btn-success">More Info</a>
                <%}else{%>
                <a href="/dashboard/puzzles/<%= metaPuzzle._id %>" class="btn btn-warning">More Info</a>
                <%}%>
            </p>
        </div>
    </div>
    <%}%>
    <% puzzles.forEach(function(puzzle){ %>
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
            <div class="caption">
                <h4><%= puzzle.name %></h4>
            </div>
            <p>
                <%if(puzzle.solved){%>
                    <a href="/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-success">More Info</a>
                <%}else{%>
                    <a href="/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-warning">More Info</a>
                <%}%>
            </p>
        </div>
    </div>
    <% }); %>
</div>
<%if(canGoToNextStage){%>
    <a href="/dashboard/nextstage" class="btn btn-success" >Next Stage :) </a>
<%}%>
<% include ../partials/footer %>
</body>