<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/dashboard/dashboard.css" media="all" />
    <link rel="stylesheet" href="<%=baseURL%>/flipclock/flipclock.css">
</head>
<body>
<% include ../partials/header %>
<%
    var statusTitle = {
        accepted: "حل‌شده",
        rejected: "ردشده",
        submitted: "ثبت‌شده",
        sold: "خریده‌شده",
        buy: "آمادهٔ خرید",
        head: "وضعیت"
    };
%>
<div class="backch">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-left">
                    <h1><span class="glyphicon glyphicon-pencil"></span> معماها</h1>
                </div>

                <div class="col-md-6" style="text-align: center;"><%if(user.group){%><div style="display: inline-block;"><div class="clock"></div></div><%}%></div>
                <div class="col-md-2" style="text-align: right;padding-top: 10px;">
                    <button type="button" class="btn btn-primary btn-lg btn-block btncolor <% if(!user.group){ %> disabled <%}%>" style="cursor: default;">
                        <% if(user.group){ %>
                            <%= user.group.name%>
                        <% } else { %><a>شما گروهی ندارید.</a> <% } %>
                    </button>
                    <a style="text-decoration: none;" href="<%=baseURL%>/dashboard/ranking"><button  type="button" class="btn btn-info btn-lg btn-block">امتیاز گروه ها</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="problem-cont" id="puzzles_list">
        <input class="search" placeholder="&#xe003;" type="text" />
        <ul class="taglist">
            <span class="glyphicon glyphicon-tags" style="transform:rotateY(180deg);"></span>
            <li class="tagsearchgp"><ul>
                <li><button class="btn btn-info btn-xs alltagsearchbtn">همه</button></li>
            </ul></li>
            <% if(superTags){superTags.forEach(function(superTag){ %>
            <li class="tagsearchgp"><ul>
                <span class="supertagsearchgp"><%= superTag.title%></span>
                <% superTag.tags.forEach(function(tag){ %>
                <li><button class="btn btn-primary btn-xs tagsearchbtn"><%= tag%></button></li>
                <%});%>
            </ul></li>
            <%});}%>
            <li class="tagsearchgp"><ul>
                <span class="supertagsearchgp"><%= statusTitle.head%></span>
                <li><button class="btn btn-success btn-xs tagsearchbtn"><%= statusTitle.accepted%></button></li>
                <li><button class="btn btn-danger btn-xs tagsearchbtn"><%= statusTitle.rejected%></button></li>
                <li><button class="btn btn-warning btn-xs tagsearchbtn"><%= statusTitle.submitted%></button></li>
                <li><button class="btn btn-info btn-xs tagsearchbtn"><%= statusTitle.sold%></button></li>
                <li><button class="btn btn-primary btn-xs tagsearchbtn"><%= statusTitle.buy%></button></li>
            </ul></li>
        </ul>
        <ul class="list row" style="list-style-type: none;">
        <% if(puzzles){puzzles.forEach(function(puzzle){ %>
            <%if(puzzle.problem){%>
            <li>
            <div class="col-md-3 col-sm-6 col-md-12" >
                <div class="eachproblem <%if(puzzle.accepted){%>prb-accepted<%}else if(puzzle.rejected){%>prb-rejected<%}else if(puzzle.submitted){%>prb-submitted<%}else if(puzzle.sold) {%>prb-sold<%}else  {%>prb-buy<%}%>">
                <div class="problembod">
                    <div class="caption topproblem">
                        <h1 class="problemname"><%= puzzle.name %></h1>
                    </div>
                    <div><i class="glyphicon glyphicon-usd" style="vertical-align: middle;"></i> <%=puzzle.cost%> &nbsp; &nbsp; <i class="glyphicon glyphicon-flash" style="vertical-align: middle;"></i> <%=puzzle.problem.score%></div>
                    <div class="tags">
                    <%puzzle.problem.tags.forEach(function (tag) {%>
                        <div class="tag"><i class="glyphicon glyphicon-tag" style="transform:rotateY(180deg); vertical-align: middle;"></i> <%=tag%></div>
                    <%})%>
                        <div class="tag" style="display: none;"><i class="glyphicon glyphicon-dashboard" style="transform:rotateY(180deg); vertical-align: middle;"></i>
                        <%if(puzzle.accepted){%>
                        <%= statusTitle.accepted%>
                        <%}else if(puzzle.rejected){%>
                        <%= statusTitle.rejected%>
                        <%}else if(puzzle.submitted){%>
                        <%= statusTitle.submitted%>
                        <%}else if(puzzle.sold) {%>
                        <%= statusTitle.sold%>
                        <%}else  {%>
                        <%= statusTitle.buy%>
                        <%}%>
                        </div>
                    </div>
                <p>
                    <%if(puzzle.accepted){%>
                        <a href="<%=baseURL%>/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-success mainbtn"><%= statusTitle.accepted%></a>
                    <%}else if(puzzle.rejected){%>
                        <a href="<%=baseURL%>/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-danger mainbtn"><%= statusTitle.rejected%></a>
                    <%}else if(puzzle.submitted){%>
                        <a href="<%=baseURL%>/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-warning mainbtn"><%= statusTitle.submitted%></a>
                    <%}else if(puzzle.sold) {%>
                        <a href="<%=baseURL%>/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-info mainbtn">مشاهده</a>
                    <%}else  {%>
                        <a href="<%=baseURL%>/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-primary mainbtn">خرید</a>
                    <%}%>
                </p>
                </div>
                </div>
            </div>
            </li>
            <%}%>
        <% });} %>
        </ul>
    </div>
</div>
<% include ../partials/footer %>
<script src="<%=baseURL%>/listjs/list.min.js"></script>
<script src="<%=baseURL%>/scripts/problist.js"></script>
<script src="<%=baseURL%>/flipclock/flipclock.min.js"></script>
<script>
    var b = "<%=remainingTime%>";
    var clock = $('.clock').FlipClock((1000)/1000, {
        clockFace: 'DailyCounter',
        showSeconds: false,
        countdown: true
    });
</script>
</body>
</html>