<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../partials/head %>
    <!-- ===============    main core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/dashboard/main.css" media="all" />
    <!-- ===============    dashboard core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/dashboard/dashboard.css" media="all" />
</head>
<body>
<% include ../partials/header %>
<div class="backch">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <h1><span class="glyphicon "></span>معما ها</h1>
                </div>

                <div class="col-md-3" >

                </div>
                <div class="col-md-3" style="text-align: right;padding-top: 10px;">
                    <button type="button" class="btn btn-success btn-lg btn-block btncolor">
                        <% if(user.group){ %>
                            <a style="text-decoration: none;color: #ffffff;" href="#"><%= user.group.name%></a>
                        <% } else { %><a>شما گروهی ندارید</a> <% } %>
                    </button>
                    <a style="text-decoration: none;" href="/dashboard/ranking"><button  type="button" class="btn btn-default btn-lg btn-block">امتیاز گروه ها</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row problem-cont">
        <div class="eachproblem col-md-3 ">
            <%if(metaPuzzle){%>
                <div class="problembod">
                    <div class="caption topproblem" style="position: relative;">
                        <h1>معمای اصلی</h1>
                        <span >برای آنکه به مرحله بعد بروید حتما باید این معما را حل کنید</span>
                    </div>
                    <div class="problemname">
                        <h4><%= metaPuzzle.name %></h4>
                    </div>
                    <div>

                        <%if(metaPuzzle.solved){%>
                            <a href="/dashboard/puzzles/<%= metaPuzzle._id %>" class="btn btn-success">حل شده است</a>
                        <%}else{%>
                            <a href="/dashboard/puzzles/<%= metaPuzzle._id %>" class="btn btn-warning">وارد شوید</a>
                        <%}%>
                    </div>
                </div>
            <%}%>
        </div>
        <% if(puzzles){puzzles.forEach(function(puzzle){ %>
        <div class="eachproblem col-md-3 " >
            <div class="problembod">
                <div class="caption topproblem">
                    <h1>معما</h1>
                </div>
                <div class="problemname">
                    <h4><%= puzzle.name %></h4>
                </div>
            <p>
                <%if(puzzle.solved){%>
                <a href="/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-success">حل شده است</a>
                <%}else{%>
                <a href="/dashboard/puzzles/<%= puzzle._id %>" class="btn btn-warning">وارد شوید</a>
                <%}%>
            </p>
        </div>
        </div>
        <% });} %>
    </div>
    <div class="row nextstage">
        <div class="container">
            <div class="col-md-3">
                <%if(canGoToNextStage){%>
                    <a href="/dashboard/nextstage" class="btn btn-success btn-default btn-lg btn-block btnxt" >(:  مرحله بعد  </a>
                <%}%>
            </div>
        </div>
    </div>
</div>
</body>
</html>