<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/dashboard/dashboard.css" media="all" />
    <link rel="stylesheet" href="<%=baseURL%>/flipclock/flipclock.css">
</head>
<body>
<% include ../partials/header %>
<div class="backch">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-left">
                </div>

                <div class="col-md-8" style="text-align: center;"><div style="display: inline-block;"><div class="clock"></div></div></div>
            </div>
        </div>
    </div>
    <h1> Scoreboard is not available in last hour :)</h1>

</div>
<% include ../partials/footer %>
<script src="<%=baseURL%>/listjs/list.min.js"></script>
<script src="<%=baseURL%>/scripts/problist.js"></script>
<script src="<%=baseURL%>/flipclock/flipclock.min.js"></script>
<script>
    var d1 = Date.now();
    var d2 = new Date('2018-03-09T15:30');
    var clock = $('.clock').FlipClock((d2-d1)/1000, {
        clockFace: 'MinuteCounter',
        showSeconds: false,
        countdown: true
    });
</script>
<script>
    $(document).ready(function(){
        $(".btn-verify").click(function(event){
            event.preventDefault();
            var el = this;
            swal({
              text: 'می‌خواهید سؤال را بخرید؟',
              type: 'info',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              cancelButtonText: 'خیر',
              confirmButtonText: 'بله',
              customClass: "rtl"
            })
            // .then(function () {
            //   swal({
            //     text: 'سؤال را خریدید.',
            //     type: 'success',
            //     customClass: "rtl"
            //   })
              .then(function(){
                window.location.href = $(el).attr('href');
              });
            // });
        });
    });
</script>
</body>
</html>
