<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include partials/head %>
	<meta name="theme-color" content="#999999" />
    <link rel="stylesheet" href="<%=baseURL%>/stylesheets/landing.css">
    <link rel="stylesheet" href="<%=baseURL%>/flipclock/flipclock.css">
</head>
<body>
<% include partials/header %>
<div class="container-fluid">
	<div id="particles-js">
		<div class="main_countainer">
			<div class="inner_row">
				<div class="inner_countainer">
					<h1>DM Contest</h1>
				</div>
			</div>
			<div class="inner_row">
				<div class="inner_countainer">
					<div class="clock"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<% include partials/footer %>
<script src="<%=baseURL%>/particles/particles.min.js"></script>
<script src="<%=baseURL%>/particles/app.js"></script>
<script src="<%=baseURL%>/flipclock/flipclock.min.js"></script>
<script type="text/javascript">
    var clock = $('.clock').FlipClock((new Date(2017,0,19,8,0)-Date.now())/1000, {
        clockFace: 'DailyCounter',
        countdown: true
    });

    easteregg_flag = true;
    function easteregg(){
    	if(easteregg_flag && window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array && parseInt(window.pJSDom[0].pJS.particles.array.length) == 0){
    		easteregg_flag = false;
	      swal("Easter Egg!", "Congratulations!", "info");
    	}
	    requestAnimationFrame(easteregg);
    }
    requestAnimationFrame(easteregg);
</script>
</body>
</html>