<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include partials/head %>
	<meta name="theme-color" content="#999999" />
    <link rel="stylesheet" href="<%=baseURL%>/stylesheets/landing.css">
    <link rel="stylesheet" href="<%=baseURL%>/flipclock/flipclock.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.4.0/introjs-rtl.min.css">
</head>
<body>
<% include partials/header %>
<div class="container-fluid" data-step="1">
	<div id="particles-js">
		<div class="main_countainer" data-step="2" data-intro="This is a tooltip!">
			<div class="inner_row">
				<div class="inner_countainer">
					<img src="<%=baseURL%>/img/dmc.png" alt="DM Contest">
				</div>
			</div>
			<div class="inner_row">
				<div class="inner_countainer">
					<div class="clock"></div>

				</div>
			</div>
		</div>
	</div>
</div>
<% include partials/footer %>
<script src="<%=baseURL%>/particles/particles.min.js"></script>
<script src="<%=baseURL%>/particles/app.js"></script>
<script src="<%=baseURL%>/flipclock/flipclock.min.js"></script>
<script src="/scripts/jquery-cookie.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.4.0/intro.min.js"></script>
<script type="text/javascript">
    var clock = $('.clock').FlipClock(( 1000000)/1000, {
        clockFace: 'DailyCounter',
        countdown: true
    });
    easteregg_flag = true;
    function easteregg(){
    	if(easteregg_flag && window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array && parseInt(window.pJSDom[0].pJS.particles.array.length) == 0){
    		easteregg_flag = false;
	      swal("Easter Egg!", "Congratulations!", "info");
			Cookies.set('easterEgg', 'found');
    	}
	    requestAnimationFrame(easteregg);
    }
    requestAnimationFrame(easteregg);

</script>
</body>
</html>