<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Responsive Coming soon Template">
    <meta name="keywords" content="Coming soon template, Bootstrap template, Coming soon, Responsive coming soon Template, Under Construction, countdown , Mailchimp, Youtube Video">
    <meta name="author" content="traivan98">

    <title>شکار معما</title>

    <!-- favicon linke -->
    <link rel="icon" type="image/png" href="/firstpage/img/favicon.png" />
    <!-- ===============    Bootstrap core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Survey</p>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4><%=puzzle.problem.name%></h4>
                    <h4>Last Submit :<%=puzzle.lastSubmit%></h4>
                    <h4>Status :<%=puzzle.status%></h4>

                    <%if(puzzle.submits){%>
                    <h4>Wrong Submits :<%=puzzle.submits.wrong%></h4>
                    <h4>Correct Submits :<%=puzzle.submits.correct%></h4>
                    <%}%>
                    <p><%= puzzle.description %></p>
                    <%if(puzzle.tags){%>
                    <h4> TAGS:
                    <%puzzle.tags.forEach(function (tag) {%>
                        <%=tag%> ,
                    <%});%>
                    </h4>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
    <form style="display: inline" class="pull-right" action="/admin/puzzles/<%=puzzle._id%>/tag" method="POST">
        <input type="text" name="tag">
        <button class="btn btn-xs btn-default" type="submit">TAG</button>
    </form>
    <form style="display: inline" class="pull-right" action="/admin/puzzles/<%=puzzle._id%>?_method=DELETE" method="POST">
        <button class="btn btn-xs btn-danger">DELETE</button>
    </form>
    <a href="/admin/puzzles/<%=puzzle._id%>/reset" >
        <button class="btn btn-xs btn-danger">RESET</button>
    </a>
    <a href="/admin/puzzles/<%=puzzle._id%>/edit" >
        <button class="btn btn-xs btn-danger">EDIT</button>
    </a>
<% include ../../partials/footer %>
</body>