<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../../partials/head %>
</head>
<body>
    <div class="row">
        <h1 style="text-align: center">Edit <%= problem.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/admin/problems/<%=problem._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    Name: <input class="form-control" type="text" name="name" value="<%= problem.name %>">
                </div>
                <div class="form-group">
                    Answer: <input class="form-control" type="text" name="answer" value="<%= problem.answer %>">
                </div>
                <div class="form-group">
                    Feedback: <input class="form-control" type="text" name="feedback" value="<%= problem.feedback%>">
                </div>
                <div class="form-group">
                    Score: <input class="form-control" type="number" name="score" placeholder="Score">
                </div>
                <div class="form-group">
                    <textarea name="description" > <%= problem.description %></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update!</button>
                </div>
            </form>
            <a href="/admin/problems">Go Back</a>
        </div>
    </div>
    <% include ../../partials/footer %>
</body>
</html>