<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/problem-view/problemcss.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
<div class="row problemname">
    <div class="container">
        <div class="col-md-5"></div>
        <!--<div class="col-md-3"></div>-->
        <div class="col-md-3 pname">
            <h1><%=puzzle.name%></h1>
        </div>
    </div>
</div>
<div class="row problembody">
    <div class="container">
        <div class="col-md-3 submitpart">
            <%if(!puzzle.accepted){%>
            <form action="<%=baseURL%>/dashboard/puzzles/<%=puzzle._id%>/answer" method="POST" enctype="multipart/form-data">
                <%if(puzzle.type == "close"){%><input class="answer-input form-control" type="text" name="answer" placeholder="پاسخ" style="text-align: center;"><%}%>
                <%if(puzzle.type == "open"){%><%}%>
                <button class="btn btn-success btn-lg btn-block" style="margin-bottom: 25px;" type="submit">ثبت درخواست بررسی</button>
            </form>
            <%}else{%>
                <!--Judge: <%=puzzle.judge.username%>-->
            <%}%>
            <%if(!(puzzle.accepted) && false){%>
            <a style="text-decoration: none;" href="<%=baseURL%>/dashboard/puzzles/<%=puzzle._id%>/hint" ><button class="btn btn-default btn-lg btn-block btn-warning" style="margin-bottom:25px; ">درخواست کمک</button></a>
            <%}%>
            <a href="<%=baseURL%>/dashboard/" style="text-decoration: none;"><button class="btn btn-danger btn-lg btn-block" >بازگشت</button></a>
        </div>
        <div class="col-md-9 prbody">
            <%if(puzzle.solved){%>
                <p><%= puzzle.type%></p>
            <%}else{%>
                <p><%=
                    puzzle.problem.description %></p>
            <%}%>
            <%if(puzzle.sources.length){%>
            <div>
                <%puzzle.sources.forEach(function (source) {switch(source.substr(source.lastIndexOf("\.") + 1)){
                    case "jpg": case "JPG": case "jpeg": case "JPEG": case "png": case "PNG": case "tiff": case "TIFF":%>
            <img src="<%=baseURL%>/<%=source%>" class="upedpic">
            <%break;
            case "pdf": case "PDF":%>
            <object data="<%=baseURL%>/<%=source%>" class="upedpic">
                <p dir="rtl">اه! مروروگر شما نمی‌تواند فایل‌های pdf نهفته را باز کند. فایل را از <a href="<%=baseURL%>/<%=source%>" target="_blank">این جا</a> بارگیری کنید.</p>
            </object>
                <%}})%>
            </div>
            <%if(false){%><div dir="ltr"><h4>Files</h4>
            <%puzzle.sources.forEach(function (source) {%>
            <a class="btn btn-default" href="<%=baseURL%>/<%=source%>"><%=source.substr(source.lastIndexOf("/") + 1)%></a>
            <%});%>
            </div><%}%>
            <%}%>
        </div>
    </div>
</div>
<!--<script src="<%=baseURL%>/scripts/checkfileformat.js"></script>-->
<% include ../../partials/footer %>
</body>
</html>