<!DOCTYPE html>
<html lang="en">
<head>
    <title>DMC</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="/group/groupedit.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
<div class="container"><div class="row">
    <h1 style="text-align: center">Edit Group</h1>
    <div class="col-md-4 col-md-offset-4" style="padding: 25px;">
        <form action="/admin/groups/<%=group._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <label>Name:</label>
                <input class="form-control" type="text" name="groupName" value="<%=group.name%>" autofocus required>
                <label>index:</label>
                <input class="form-control" type="text" name="index" value="<%=group.index%>">
                <label>credit:</label>
                <input class="form-control" type="text" name="credit" value="<%=group.credit%>">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-success btn-block">Update!</button>
            </div>
        </form>
        <a class="btn btn-primary" href="/admin/groups/<%=group._id%>">Go Back</a>
    </div>
</div></div>
<% include ../../partials/footer %>
</body>
</html>
