<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../../partials/head %>
    <!-- ===============    dashboard core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/dashboard/dashboard.css" media="all" />
    <style>
        .container{
            width: 100%;
        }
    </style>
</head>
<body>
    <% include ../../partials/header %>
     <div class="jumbotron">
         <div class="container">
             <div class="row">
                 <div class="col-md-6">
                     <h1><span class="glyphicon glyphicon-tent"></span>Groups</h1>
                 </div>
                 <div class="col-md-6" style="padding-top: 20px;">
                     <a class="btn btn-primary btn-lg btn-block" href="/admin/groups/new">Add New Group</a>
                 </div>
             </div>
         </div>
     </div>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;margin-left: 10px;">
        <% groups.forEach(function(group){ %>
            <div class="col-md-3 col-xs-12">
                <div class="thumbnail">
                   <div class="caption">
                       <h4><%= group.name %></h4>
                   </div>
                    <%group.competition.puzzles.forEach(function (puzzle) {%>
                        <%if(puzzle.requestedForHint){%>
                            <p>
                                <a href="/admin/groups/<%= group._id %>/hint/<%=puzzle._id%>" class="btn btn-warning"><%=puzzle.name%></a>
                            </p>
                        <%}%>
                    <%});%>
                    <p>
                        <a href="/admin/groups/<%= group._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>

</body>
</html>