<% include ../../partials/header %>

     <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-tent"></span>Groups</h1>
             <p>
                <a class="btn btn-primary btn-lg" href="/admin/groups/new">Add New Group</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% groups.forEach(function(group){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <div class="caption">
                       <h4><%= group.name %></h4>
                   </div>
                    <%group.competition.puzzles.forEach(function (puzzle) {%>
                        <%if(puzzle.requestedForHint){%>
                            <p>
                                <a href="/admin/groups/<%= group._id %>/hint/<%=puzzle._id%>" class="btn btn-warning"><%=puzzle.name%></a>
                            </p>
                        <%}%>
                    <%});%>
                    <p>
                        <a href="/admin/groups/<%= group._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../../partials/footer %>
