<% include ../../partials/header %>
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Survey</p>
            <div class="list-group">
                Members
                <%group.members.forEach(function (member) {%>
                <li class="list-group-item "><a link="white" href="/admin/users/<%=member._id%>"><%=member.username%></a></li>
                <%});%>
                <form style="display: inline" class="pull-right" action="/admin/groups/<%=group._id%>/addUser" method="POST">
                    <select class="form-control" type="text" name="username" placeholder="User">
                        <%users.forEach(function (user) {%>
                            <option value="<%=user.username%>"><%=user.username%></option>
                        <%});%>
                    </select>
                    <button class="btn btn-xs btn-default" type="submit">Add Member</button>
                </form>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4>Group Name:<%=group.name%></h4>
                    <p>Score: <%= group.score%></p>
                    <p>Index: <%= group.index%></p>
                    <p>Stage: <%= group.competition.stage%></p>
                    Solved Problems:
                    <%group.competition.puzzles.forEach(function(puzzle){%>
                        <%if(puzzle.solved){%>
                            <a href="/admin/groups/<%=group._id%>/puzzles/<%=puzzle._id%>"><p><%= puzzle.name%></p> </a>
                        <%}%>
                    <%});%>
                </div>
            </div>
        </div>
        <form style="display: inline" class="pull-right" action="/admin/groups/<%=group._id%>?_method=DELETE" method="POST">
            <button class="btn btn-xs btn-danger">DELETE</button>
        </form>
    </div>

<% include ../../partials/footer %>