<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../../partials/head %>
    <!-- ===============    groupedit core CSS     =============== -->
    <link rel="stylesheet" type="text/css" href="/admin/problemdetail.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
    <div class="container probbd">
        <div class="col-md-3"><div class="tag">
            <div class="list-group">
                <h3>Members</h3>
                <%group.members.forEach(function (member) {%>
                <li class="list-group-item "><a link="white" href="/admin/users/<%=member._id%>"><%=member.username%></a></li>
                <%});%>
                <form action="/admin/groups/<%=group._id%>/addUser" method="POST">
                    <select class="form-control" type="text" name="username" placeholder="User">
                        <%users.forEach(function (user) {%>
                        <option value="<%=user.username%>"><%=user.username%></option>
                        <%});%>
                    </select>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Member</button>
                </form>
            </div>
            <a href="/admin/groups/<%=group._id%>/edit" >
                <button class="btn btn-lg btn-block btn-warning" >EDIT</button>
            </a>
            <form  action="/admin/groups/<%=group._id%>?_method=DELETE" method="POST">
                <button class="btn btn-lg btn-danger btn-block">DELETE</button>
            </form>
            <a href="/admin/groups/" >
                <button class="btn btn-lg btn-block btn-success">BACK</button>
            </a>
        </div></div>
        <div class="col-md-9"><div class="pbd">
            <h3>Group Name:</h3>
                <h4><%=group.name%></h4>
            <p>Score: <%= group.score%></p>
            <p>Index: <%= group.index%></p>
            <p>Stage: <%= group.competition.stage%></p>
            <p>Credit: <%= group.credit%></p>
            Solved Problems:
            <p style="width: 100%;">
                <%group.competition.puzzles.forEach(function(puzzle){%>
                    <%if(puzzle&&puzzle.solved){%>

                <%}%>
            <%});%>
            </p>
        </div></div>
    </div>
<% include ../../partials/footer %>
</body>
</html>