<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/admin/problemdetail.css" media="all" />
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/chosen/chosen.min.css">
    <style type="text/css">
        .chosen-single div{
            padding: 8px 0 !important;
        }
        .chosen-single{
            height: 40px !important;
            padding: 10px !important;
        }
    </style>
</head>
<body>
<% include ../../partials/header %>
    <div class="container probbd">
        <div class="col-md-3"><div class="tag">
            <div class="list-group">
                <h3>Members</h3>
                <%group.members.forEach(function (member) {%>
                <li class="list-group-item "><a link="white" href="<%=baseURL%>/admin/users/<%=member._id%>"><%=member.username%><%if(member.isAdmin){%> &#x2605;<%}%></a></li>
                <%});%>
                <form action="<%=baseURL%>/admin/groups/<%=group._id%>/addUser" method="POST">
                    <select class="form-control cselect" type="text" name="username" placeholder="User">
                        <%users.forEach(function (user) {%>
                        <option value="<%=user.username%>"><%=user.username%><%if(user.isAdmin){%> &#x2605;<%}%></option>
                        <%});%>
                    </select>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 10px;">Add Member</button>
                </form>
            </div>
            <hr>
            <a href="<%=baseURL%>/admin/groups/<%=group._id%>/edit" >
                <button class="btn btn-lg btn-block btn-warning" >EDIT</button>
            </a>
            <form  action="<%=baseURL%>/admin/groups/<%=group._id%>?_method=DELETE" method="POST">
                <button class="btn btn-lg btn-danger btn-block">DELETE</button>
            </form>
            <a href="<%=baseURL%>/admin/groups/" >
                <button class="btn btn-lg btn-block btn-success">BACK</button>
            </a>
        </div></div>
        <div class="col-md-9"><div class="pbd">
            <h2><%=group.name%></h2>
            <hr>
            <h3>Score</h3><h4>&nbsp;<%= group.score%></h4>
            <h3>Index</h3><h4>&nbsp;<%= group.index%></h4>
            <h3>Stage</h3><h4>&nbsp;<%= group.competition.stage%></h4>
            <h3>Credit</h3><h4>&nbsp;<%= group.credit%></h4>
            <%if(false){%>
            <h3>Solved Problems</h3>
            <h4>
                <%group.competition.puzzles.forEach(function(puzzle){%>
                    <%if(puzzle&&puzzle.solved){%>
                    &nbsp;
                    <%}%>
                <%});%>
            </h4>
            <%}%>
        </div></div>
    </div>
    <% include ../../partials/footer %>
    <script src="<%=baseURL%>/chosen/chosen.jquery.min.js"></script>
    <script>
        $("select.cselect").chosen({search_contains:true});
    </script>
    <script src="<%=baseURL%>/scripts/setheight.js"></script>
</body>
</html>
