<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../../partials/head %>
</head>
<body>
    <% include ../../partials/header %>
    <div class="container"><div class="row">
        <h1 style="text-align: center">Edit <%= problem.name %></h1>
        <div class="col-md-4 col-md-offset-4" style="padding: 25px;">
            <form action="<%=baseURL%>/admin/problems/<%=problem._id%>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name" value="<%= problem.name %>" autofocus>
                </div>
                <div class="form-group" >
                    <textarea class="form-control" name="description" rows="10" style="resize: vertical;"><%= problem.description %></textarea>
                </div>
                <div class="form-group answerin <%if(problem.type == 'open'){%>hide<%}%>">
                    <input class="form-control" type="text" name="answer" placeholder="Answer" value="<%= problem.answer %>">
                </div>
                <div class="form-group">
                    <fieldset>
                        <div class="radio"><label><input type="radio" class="" name="type" value="open" <%if(problem.type == "open"){%>checked<%}%> >File</label></div>
                        <div class="radio"><label><input type="radio" class="" name="type" value="close" <%if(problem.type == "close"){%>checked<%}%> >Text</label></div>
                    </fieldset>
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="score" placeholder="Score" value="<%= problem.score%>">
                </div>
                <label class="btn btn-block btn-warning btn-lg">
                    files<input name='file' type="file" style="display: none;" multiple>
                </label>
                <div class="form-group">
                    <button class="btn btn-lg btn-success btn-block">Update!</button>
                </div>

            </form>
            <a class="btn btn-primary" href="<%=baseURL%>/admin/problems">Go Back</a>
        </div>
    </div></div>
    <script src="<%=baseURL%>/scripts/answerin.js"></script>
    <script src="<%=baseURL%>/scripts/checkfileformat.js"></script>
    <% include ../../partials/footer %>
</body>
</html>