<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="/dashboard/dashboard.css" media="all" />
    <style type="text/css">.thumbnail{min-height: 250px;}</style>
</head>
<body>
<% include ../../partials/header %>
<div class="backch">
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1></span><span class="glyphicon glyphicon-pencil"></span> Problems</h1>
            </div>
            <div class="col-md-6" style="padding-top: 20px;">
                <a class="btn btn-primary btn-lg btn-block" href="/admin/problems/new">Add New Problem</a>
                <a class="btn btn-info btn-lg btn-block" href="/admin/tags">Tags</a>
            </div>
        </div>
    </div>
</div>

     
     <div id="puzzles_list" class="row text-center" style="/*display:flex; flex-wrap: wrap;*/">
     <div style="padding: 6px 26px; text-align: left;">
       <input class="search" placeholder="&#xe003;" type="text" />
       <ul class="taglist">
           <span class="glyphicon glyphicon-tags" style="transform:rotateY(180deg);"></span>
           <li><a class="btn btn-primary btn-sm active" href="javascript: void();">همه</a></li>
           <% if(superTags){superTags.forEach(function(superTag){ %>
           <li style="padding-left: 6px;"><a class="btn btn-danger btn-sm disabled" href="javascript: void();"><%= superTag.title%></a></li><ul style="padding: 0; display: inline;">
               <% superTag.tags.forEach(function(tag){ %>
               <li><a class="btn btn-success btn-xs" href="javascript: void();"><%= tag%></a></li>
               <%});%>
              </ul>
           <%});}%>
       </ul>
     </div>
      <ul class="list" style="list-style: none;">
        <% problems.forEach(function(problem){ %>
          <li>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <div class="caption">
                       <h4 class="problemname"><%= problem.name %></h4>
                   </div>
                   <div class="tags">
                   <%problem.tags.forEach(function (tag) {%>
                       <div class="tag"><i class="glyphicon glyphicon-tag" style="transform:rotateY(180deg); vertical-align: middle;"></i> <%=tag%></div>
                   <%})%>
                   </div>
                   <p>
                       <a href="/admin/problems/<%= problem._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
  <% include ../../partials/footer %>
  <script src="/listjs/list.min.js"></script>
  <script src="/scripts/problist.js"></script>
</body>
</html>