<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/admin/problemdetail.css" media="all" />
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/chosen/chosen.min.css">
    <style type="text/css">
        .chosen-single div{
            padding: 8px 0 !important;
        }
        .chosen-single{
            height: 40px !important;
            padding: 10px !important;
        }
    </style>
</head>
<body>
<% include ../../partials/header %>
    <div class="container probbd">
        <div class="col-md-3"><div class="tag">
            <form action="<%=baseURL%>/admin/problems/<%=problem._id%>/tag" method="POST">
                <select class="form-control cselect" name="tag">
                    <%superTags.forEach(function (superTag) {%>
                        <optgroup label="<%=superTag.title%>">
                            <%superTag.tags.forEach(function (tag) {%>
                                <option value="<%=tag%>"><%=tag%></option>
                            <%})%>
                        </optgroup>
                    <%})%>
                </select>
                <button class="btn btn-lg btn-block btn-primary" type="submit" style="margin: 20px 0 20px 0;">TAG</button>
            </form>
            <hr>
            <form action="<%=baseURL%>/admin/problems/<%=problem._id%>?_method=DELETE" method="POST">
                <button class="btn btn-lg btn-block btn-danger" style="margin-bottom: 10px;">DELETE</button>
            </form>
            <a href="<%=baseURL%>/admin/problems/<%=problem._id%>/reset" >
                <button class="btn btn-lg btn-block btn-info" style="margin-bottom: 10px;">RESET</button>
            </a>
            <a href="<%=baseURL%>/admin/problems/<%=problem._id%>/edit" >
                <button class="btn btn-lg btn-block btn-warning" style="margin-bottom: 10px;">EDIT</button>
            </a>
            <a href="<%=baseURL%>/admin/problems" >
                <button class="btn btn-lg btn-block btn-success">BACK</button>
            </a>
        </div></div>
        <div class="col-md-9"><div class="pbd">
            <h2><%=problem.name%></h2>
            <hr>
            <h3>Answer</h3><h4>&nbsp;<%=problem.answer%></h4>
            <h3>Score</h3><h4>&nbsp;<%=problem.score%></h4>
            <h3>File Submit</h3><h4>&nbsp;<%=problem.type%></h4>
            <%if(problem.submits){%>
            <h3>Wrong Submits</h3><h4>&nbsp;<%=problem.submits.wrong%></h4>
            <h3>Correct Submits</h3><h4>&nbsp;<%=problem.submits.correct%></h4>
            <%}%>
            <p><%= problem.description %></p>
            <%if(problem.tags){%>
            <h3>TAGS</h3>
                <h4>
                <%problem.tags.forEach(function (tag) {%>
                &nbsp;<%=tag%>,
                <%});%>
                </h4>
            <%}%>
            <%if(problem.files.length){%>
            <%problem.sources.forEach(function (source) {
                switch(source.substr(source.lastIndexOf("\.") + 1)){
                    case "jpg": case "JPG": case "jpeg": case "JPEG": case "png": case "PNG": case "tiff": case "TIFF":%>
            <img src="<%=baseURL%>/<%=source%>" class="upedpic">
            <%break;
            case "pdf": case "PDF":%>
            <object data="<%=baseURL%>/<%=source%>" class="upedpic">
                <p dir="rtl">اه! مروروگر شما نمی‌تواند فایل‌های pdf نهفته را باز کند. فایل را از <a href="<%=baseURL%>/<%=source%>" target="_blank">این جا</a> بارگیری کنید.</p>
            </object>
            <%}})%>
            <h3>Files</h3>
            <%problem.sources.forEach(function (file) {%>
                &nbsp;<a class="btn btn-default" href="<%=baseURL%>/<%=file%>" target="_blank"><%=file.substr(file.lastIndexOf("/") + 1)%></a>
            <%});%>
            <%}%>
        </div></div>
    </div>
    <% include ../../partials/footer %>
    <script src="<%=baseURL%>/chosen/chosen.jquery.min.js"></script>
    <script>
        $("select.cselect").chosen();
    </script>
    <script src="<%=baseURL%>/scripts/setheight.js"></script>
</body>
</html>