<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="/admin/problemdetail.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
<!-- <div class="row"> -->
    <div class="container probbd">
        <div class="col-md-3"><div class="tag">
            <form action="/admin/problems/<%=problem._id%>/tag" method="POST">
                <input class="form-control" type="text" name="tag" style="width: 100%;">
                <button class="btn btn-lg btn-block btn-primary" type="submit" style="margin: 20px 0 20px 0;">TAG</button>
            </form>
            <form action="/admin/problems/<%=problem._id%>?_method=DELETE" method="POST">
                <button class="btn btn-lg btn-block btn-danger" style="margin-bottom: 10px;">DELETE</button>
            </form>
            <a href="/admin/problems/<%=problem._id%>/reset" >
                <button class="btn btn-lg btn-block btn-info" style="margin-bottom: 10px;">RESET</button>
            </a>
            <a href="/admin/problems/<%=problem._id%>/edit" >
                <button class="btn btn-lg btn-block btn-warning" style="margin-bottom: 10px;">EDIT</button>
            </a>
            <a href="/admin/problems" >
                <button class="btn btn-lg btn-block btn-success">BACK</button>
            </a>
        </div></div>
        <div class="col-md-9"><div class="pbd">
            <h2><%=problem.name%></h2>
            <h4>Answer :<%=problem.answer%></h4>
            <h4>Score :<%=problem.score%></h4>
            <h4>Feedback :<%=problem.feedback%></h4>
            <%if(problem.submits){%>
            <h4>Wrong Submits :<%=problem.submits.wrong%></h4>
            <h4>Correct Submits :<%=problem.submits.correct%></h4>
            <%}%>
            <p><%= problem.description %></p>
            <%if(problem.tags){%>
            <h4> TAGS:
                <%problem.tags.forEach(function (tag) {%>
                <%=tag%> ,
                <%});%>
            </h4>
            <%}%>
            <%if(problem.files.length){%>
            <h4>Files:</h4>
            <%problem.sources.forEach(function (file) {%>
                <a class="btn btn-default" href="/<%=file%>" target="_blank"><%=file.substr(file.lastIndexOf("/") + 1)%></a>
            <%});%>
            <%}%>
        </div></div>
    </div>
    <script src="/scripts/setheight.js"></script>
<% include ../../partials/footer %>
</body>
</html>