<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/dashboard/dashboard.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
<div class="backch">
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><span class="glyphicon glyphicon-user"></span> Users</h1>
            </div>
        </div>
    </div>
</div>
     <div class="row text-center" style="<%=baseURL%>/*display:flex; flex-wrap: wrap;*/" id="puzzles_list">
       <div class="col-xs-12" style="padding: 6px 16px; text-align: left;">
         <input class="form-input search" placeholder="&#xe003;" type="text" />
         <ul class="taglist">
            <li><button class="btn btn-warning btn-md tagsearchbtn">Administrator</button></li>
         </ul>
       </div>
       <ul class="list" style="list-style: none;">
          <% users.forEach(function(user){ %>
              <li><div class="col-md-3 col-sm-6">
                  <div class="thumbnail">
                     <div class="caption">
                         <h<%if(user.isAdmin){%>3<%}else{%>5<%}%> class="problemname"><%= user.username %></h<%if(user.isAdmin){%>4<%}else{%>3<%}%>>
                         <div class="tags"><%if(user.isAdmin){%><p><span class="glyphicon glyphicon-star"></span> Administrator</p><%}else{%><p><%=user.name%></p><p><%=user.studentId%></p><%}%></div>
                     </div>
                     <p>
                         <a href="<%=baseURL%>/admin/users/<%= user._id %>" class="btn btn-primary">More Info</a>
                     </p>
                  </div>
              </div></li>
          <% }); %>
      </ul>
    </div>
  </div>
  <script src="<%=baseURL%>/listjs/list.min.js"></script>
  <script src="<%=baseURL%>/scripts/problist.js"></script>
  <% include ../../partials/footer %>
</body>
</html>