<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>شکار معما</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="/admin/problemdetail.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
    <div class="container probbd">
        <div class="col-md-3 tag">
            <form action="/admin/users/<%=user._id%>?_method=DELETE" method="POST">
                <button class="btn btn-lg btn-block btn-danger" style="margin-bottom: 10px;">DELETE</button>
            </form>
            <a href="/admin/users" >
                <button class="btn btn-lg btn-block btn-success">BACK</button>
            </a>
        </div>
        <div class="col-md-9 pbd">
            <img class="img-responsive" src="<%= user.image %>">
            <h2><%=user.username%></h2>
            <%if(user.group){%>
            <h4>Group: <a href="/admin/groups/<%=user.group._id%>"> <%= user.group.name%></a></h4>
            <%}%>
        </div>
    </div>
<% include ../../partials/footer %>
</body>
</html>