<!DOCTYPE html>
<html lang="fa-ir">
<head>
    <title>DMC</title>
    <% include ../../partials/head %>
    <link rel="stylesheet" type="text/css" href="<%=baseURL%>/admin/problemdetail.css" media="all" />
</head>
<body>
<% include ../../partials/header %>
    <div class="container probbd">
        <div class="col-md-3 "><div class="tag">
            <%if(user.isAdmin){%>
            <button class="btn btn-lg btn-block btn-warning disabled" style="margin-bottom: 10px;"><span class="glyphicon glyphicon-star"></span> Administrator</button>
            <%}%>
            <a href="<%if(user.group){%> /admin/groups/<%=user.group._id%> <%}else{%> javascript: void(); <%}%> " >
                <button class="btn btn-lg btn-block btn-info <%if(!user.group){%> disabled <%}%>" style="margin-bottom: 10px;">GRUOP<%if(user.group){%>: <%= user.group.name%><%}%></button>
            </a>
            <hr>
            <form action="<%=baseURL%>/admin/users/<%=user._id%>?_method=DELETE" method="POST">
                <button class="btn btn-lg btn-block btn-danger" style="margin-bottom: 10px;">DELETE</button>
            </form>
            <a href="<%=baseURL%>/admin/users" >
                <button class="btn btn-lg btn-block btn-success">BACK</button>
            </a>
        </div></div>
        <div class="col-md-9 "><div class="pbd">
            <img class="img-responsive" src="<%= user.image %>">
            <h2><%=user.username%></h2>
            <hr>
            <h3>Name</h3>
            <h4>&nbsp;<%=user.firstname%> <%=user.lastname%></h4>
            <h3>Student ID</h3>
            <h4>&nbsp;<%=user.studentId%></h4>
            <%if(user.group){%>
            <h3>Group</h3><h4>&nbsp;<a href="<%=baseURL%>/admin/groups/<%=user.group._id%>"> <%= user.group.name%></a></h4>
            <%}%>
        </div></div>
    </div>
    <% include ../../partials/footer %>
    <script src="<%=baseURL%>/scripts/setheight.js"></script>
</body>
</html>