<%if(false){%><!-- <%=hoursLeft%>, <%=address%> --><%}%>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="DM Contest">
  <meta name="keywords" content="Discrete Mathematics, Contest">
  <title>mail/reminder</title>
  <style type="text/css"><%include ../style %></style>
</head>
<body>
  <div class="dmmail-countainer">
    <div class="dmmail-header">
      <h2><a href="http://<%=address%>" target="_blank">مسابقه ریاضیات گسسته</a></h2>
      <h6><a href="http://<%=address%>" target="_blank"><%=address%></a></h6>
      <h1>یادآوری</h1>
      <%include ../header%>
    </div>
    <div class="dmmail-cnt">
      <p>فقط <%=hoursLeft%> ساعت تا شروع مسابقه مانده است!</p>
    </div>
    <div class="dmmail-footer"><%include ../footer%></div>
  </div>
</body>
</html>
